<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">
	<h3 class="dropdown-headline">
		{f:translate(key: 'LLL:EXT:ll_elevate_to_admin/Resources/Private/Language/locallang.xlf:toolbar.title')}
	</h3>
	<nav>
		<ul class="dropdown-list">
			<li>
				<a href="#" class="dropdown-item" id="{id}">
					<span class="dropdown-item-columns">
						<span class="dropdown-item-column dropdown-item-column-icon">
							<core:icon identifier="{icon}" />
						</span>
						<span class="dropdown-item-column">
							{label}
						</span>
					</span>
				</a>
			</li>
		</ul>
	</nav>
</html>
