<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">
	<h3 class="dropdown-headline">
		{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.user')}
	</h3>
	<hr>

	<ul class="modulemenu-group-container">
		<li>
			<a href="#" class="dropdown-table-title" id="{id}">
				<span class="dropdown-table-icon">
					<core:icon identifier="{icon}" />
				</span>
				{label}
			</a>
		</li>
	</ul>
</html>
